{form form}
    <p>Přihlaste se prosím ke svému účtu</p>
    <div class="form-outline mb-4">
        {input username, class: 'form-control'}
         {label username, class: 'form-label' /}
    </div>
    <div class="form-outline mb-4">
        {input password, class: 'form-control'}
         {label password, class: 'form-label' /}
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
        {input login, class:"btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"}
    </div>
{/form}
