{block content}
    {form form}
        <div class="form-outline mb-4">
            {input message, class: 'form-control wysiwyg'}
        </div>
        <div class="text-right pt-1">
            {input save, class:"btn btn-success"}
        </div>
    {/form}
{/block}