search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade

session:
	debugger: TRUE

extensions:
    rdurica.core: Rdurica\Core\Extension\CoreExtension
    securityAnnotations: Nepada\Bridges\SecurityAnnotationsDI\SecurityAnnotationsExtension

services:
	- App\Router\RouterFactory::createRouter
	- App\Component\Form\Login\ILoginForm
	- App\Component\Form\Rules\IRulesForm
	- App\Component\Form\Task\ITaskForm
	- App\Component\Grid\TaskCatalogue\ITaskCatalogueGrid
	- App\Model\Manager\RulesManager
	- App\Model\Manager\TaskCatalogueManager
