{block navbar}{include './../navbar.latte'}{/block}
{block content}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card mt-2">
            <div class="card-body">
               {control rulesForm}
            </div>
        </div>
    </div>
</div>
