# Labels
activeTask: 'Aktivní úkol'
edit: 'Upravit'
delete: 'Smazat'
finish: 'Dokončit'
history: 'Historie úkolů'
login: 'Přihlásit'
loginToYourAccount: 'Přihlaste se prosím ke svému účtu'
needsToBeFinished: 'Úkol musí být dokončen do'
newTaskAvailableDescription: 'Dostupný nový úkol. Pro začátek klikněte na tlačítko "Začít"'
newTaskAvailableTitle: 'Dostupný nový úkol'
password: 'Heslo'
save: 'Uložit'
start: 'Začít'
username: 'Uživatelské jméno'
task: 'Úkol'
forTaskCompletion: 'Pro splnění úkolu'
uploadPhotos: 'Nahrej fotky z plnění úkolu'
uploadVideo: 'Nahrej video z plnění úkolu'
answerQuestions: 'Odpověz na otázky z popisu úkolu'
startDate: 'Začátek'
endDate: 'Konec'
finishDate: 'Dokončeno'
requirePhotos: 'Vyžaduje fotky'
requireVideo: 'Vyžaduje video'
requireText: 'Vyžaduje text'
isEnabled: 'Povolen'
createTask: 'Vytvořit úkol'
editTask: 'Upravit úkol'
evaluate: 'Vyhodnotit'
confirm: 'Potvrdit'
reject: 'Zamítnut'
taskEvaluation: 'Vyhodnocení úkolu'
taskResultText: 'Odpověd (text)'
taskResultPhotos: 'Odpověd (fotky)'
taskResultVideo: 'Odpověd (video)'
continue: 'Pokračovat'
continueHelpText: 'Po kliknutí na tlačítko "Pokračovat" proběhne zhodnocení a nahrání požadovaných videí/fotek.'

status:
    expired: 'Nesplňeno v časovém limitu'
    waitingForApproval: 'Čeká na schválení'

menu:
    logout: 'Odhlásit'
    taskCatalogue: 'Katalog úkolů'
    taskEvaluation: 'Úkoly k vyhodnocení'
    rules: 'Pravidlá hry'